<div class="container container-local">
    <div class="row">
        <div class="col s12 m3">
            <div class="cad card-local rounded-4">
                <div class="padding-8">
                    <div class="center bordered padding-8 profile">
                        <div>
                            <% publics = stories.filter(story => story.status == 'public' && story.archivePost == 'false');%>

                            <% privates = stories.filter(story => story.status == 'private' && story.archivePost == 'false');%>

                            <% if (user.image) {%>
                            <% fileSrc = `/images/uploads/users/${user.image}` %>
                            <% } else {%>
                            <% if (user.gender == 'male') {%>
                            <% fileSrc = `/images/donkenny.jpg` %>
                            <% } else {%>
                            <% fileSrc = `/images/donkenny.jpg` %>
                            <% } %>
                            <% } %>
                            <img src="<%= fileSrc %>" alt="<%= fileSrc %>" width="80" height="80"
                                class="rounded-4"><br />
                            <% if (stories[0].user.firstName && stories[0].user.lastName) {%>
                            <%= title(stories[0].user.firstName + ' ' + stories[0].user.lastName ) %>
                            (<%= stories[0].user.username %>)
                            <% } else {%>
                            <%= stories[0].username %>
                            <% }%>
                            <% if (user._id == stories[0].user._id) {%>
                            <br />(<a href="/user/edit-profile/<%= user._id %>"><small>Edit
                                    Profile</small></a>)
                            <% }%>
                            <% if (user._id == stories[0].user._id) {%>
                            <br /><% if (user.membership === 'superadmin' || user.membership === 'admin') { %>
                            <p><a class="black rounded-4 btn fa-x-medium" href="/admin/cpanel">Go to cPanel</a></p>
                            <% } }%>
                        </div>

                        <small class="small"><%= user.membership %></small>
                    </div>
                    <div class="section activities-tag">
                        <div class="section center">
                            <span class="gray-text bold white"><%= stories.length %></span>
                            <span class="bold">
                                <% if (stories.length > 1) {%>
                                Articles
                                <% } else { %>
                                Article
                                <%   } %>
                            </span>
                        </div>

                        <div class="section center">
                            <span class="green-text bold white"><%= publics.length %></span>
                            <span class="bold">Published</span>
                        </div>

                        <div class="section center">
                            <span class="red-text bold white"><%= privates.length %></span>
                            <span class="bold">Unpublished</span>
                        </div>

                        <div class="section center">
                            <span class="gray-text bold white">
                                <% let total = 0 %>
                                <% stories.forEach(story => { %>
                                <% total += story.likes.count %>
                                <% }); %>
                                <%= total %>
                            </span>
                            <span class="bold">
                                <% if (total > 1) { %>
                                Likes
                                <% } else { %>
                                Like
                                <%} %>
                            </span>
                        </div>
                    </div>
                    <div class="sectio">
                        <h6 class="most-read">Hit Articles</h6>
                        <a href="/stories/">
                            {titleFormat title}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m2">
            <div class="section card-local rounded-4">
                <% if (user._id == stories[0].user._id) {%>
                <% if (user.membership === 'ordinary') { %>
                <div class="padding-4 section center">
                    Want to become a contributor? <br />
                    <a class="btn darken-1 btn-block rounded-4 red bold-text" href="/user/apply/contributor">APPLY
                        NOW</a>
                    <p>
                    </p>
                </div>
                <% } }%>
                <% if (stories.length > 0) { %>
                <div class="padding-4">
                    <h6>HITS</h6>
                    <p style="padding-left: 5px;">
                        <% stories.forEach(story => { %>
                        <a class="bordered padding-1"
                            href="/stories/<%= story._id %>"><small><%= title(story.title) %></small></a><br />
                        <% }); %>
                    </p>
                </div>
                <% } %>
            </div>
        </div>

        <div class="col s12 m7">
            <div class="cardcard-local rounded-4">
                <div class="card-content">
                    <div class="section top-tab">
                        <% let ownerArticle = user._id == stories[0].user._id ? 'My Articles' : `${stories[0].user.lastName}'s Articles`%>
                        <h5 style="margn-top: -30px;"><%=ownerArticle%></h5>
                        <ul class="inline">
                            <% let hide, active;%>
                            <% if (user._id == stories[0].user._id) {%>
                            <% hide = ''; active = ''%>
                            <%} else {%>
                            <% hide = 'hide-btn'; active = 'active'%>
                            <%}%>
                            <li class="active <%=hide%> tab-header" id="tab-header-1">All Articles
                            (<%= stories.length %>)</li>
                            <li class="<%=active%> tab-header" id="tab-header-2">Published (<%= publics.length %>)</li>
                            <li class="<%= hide%> tab-header" id="tab-header-3">Unpublished (<%= privates.length %>)
                            </li>
                        </ul>
                    </div>

                    <div class="sectin content">
                        <div class="active <%= hide%> content-header" id="content-header-1">
                            <% if (stories.length > 0) {%>
                            <% stories.forEach(story => {%>
                            <div class="card-local padding-4 rounded-4">
                                <div class="margin-4 row padding-6">
                                    <div class="col s8 m8">
                                        <a href="/stories/<%= story._id %>"><%= title(story.title) %></a><br />
                                        <small><%= formatDate(story.createdAt, 'D MMMM, YYYY - hh:mm a') %></small>&nbsp;
                                        <a class="btn fa-x-small" href="/stories/edit/<%= story._id %>"><i
                                                class="fas fa-edit"></i></a>
                                        <form style="display: inline;" action="/stories/delete/<%= story._id %>"
                                            method="POST">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button class="btn red fa-x-small" type="submit"><i
                                                    class="fas fa-trash"></i></button>
                                        </form>
                                    </div>
                                    <div class="col s1 m1"></div>
                                    <div class="col s4 m3">
                                        <span class="right paddin-2 rounded-4"><i
                                                class="fas fa-eye">&nbsp;&nbsp;&nbsp;<%= formatFigure(story.views) %></i></span><br />
                                        <% let color; let text %>
                                        <% if (story.status === 'public') { %>
                                        <% color = 'green' %>
                                        <% text = 'Published' %>
                                        <% } else { %>
                                        <% color = 'red' %>
                                        <% text = 'Unpublished' %>
                                        <% }%>
                                        <span
                                            class="right white bold padding-2 rounded-4 <%= color %>-text"><%= text %></span>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                            <% } else {%>
                            <div class="card-local">
                                <p class="padding-4 black-text white">
                                    You have not written any articles
                                </p>
                            </div>
                            <%}%>
                        </div>

                        <div class="<%=active%> content-header" id="content-header-2">
                            <% if (publics.length > 0) {%>
                            <% publics.forEach(story => {%>
                            <div class="card-local padding-4 rounded-4">
                                <div class="margin-4 row padding-6">
                                    <div class="col s8 m8">
                                        <a href="/stories/<%= story._id %>"><%= title(story.title) %></a><br />
                                        <small><%= formatDate(story.createdAt, 'D MMMM, YYYY - hh:mm a') %></small>&nbsp;
                                        <% if (user._id == stories[0].user._id) {%>
                                        <a class="btn fa-x-small" href="/stories/edit/<%= story._id %>"><i
                                                class="fas fa-edit"></i></a>
                                        <form style="display: inline;" action="/stories/delete/<%= story._id %>"
                                            method="POST">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button class="btn red fa-x-small" type="submit"><i
                                                    class="fas fa-trash"></i></button>
                                        </form>
                                        <%}%>
                                    </div>
                                    <div class="col s1 m1"></div>
                                    <div class="col s4 m3">
                                        <span class="right paddin-2 rounded-4"><i
                                                class="fas fa-eye">&nbsp;&nbsp;&nbsp;<%= formatFigure(story.views) %></i></span><br />
                                        <% let color; let text %>
                                        <% if (story.status === 'public') { %>
                                        <% color = 'green' %>
                                        <% text = 'Published' %>
                                        <% } else { %>
                                        <% color = 'red' %>
                                        <% text = 'Unpublished' %>
                                        <% }%>
                                        <span class="right bold padding-2 rounded-4 <%= color %>"><%= text %></span>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                            <% } else {%>
                            <div class="card-local">
                                <p class="padding-4 black-text white">
                                    You have no published articles
                                </p>
                            </div>
                            <%}%>
                        </div>

                        <div class="<%= hide%> content-header" id="content-header-3">
                            <% if (privates.length > 0) {%>
                            <% privates.forEach(story => {%>
                            <div class="card-local padding-4 rounded-4">
                                <div class="margin-4 row padding-6">
                                    <div class="col s8 m8">
                                        <a href="/stories/<%= story._id %>"><%= title(story.title) %></a><br />
                                        <small><%= formatDate(story.createdAt, 'D MMMM, YYYY - hh:mm a') %></small>&nbsp;
                                        <a class="btn fa-x-small" href="/stories/edit/<%= story._id %>"><i
                                                class="fas fa-edit"></i></a>
                                        <form style="display: inline;" action="/stories/delete/<%= story._id %>"
                                            method="POST">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button class="btn red fa-x-small" type="submit"><i
                                                    class="fas fa-trash"></i></button>
                                        </form>
                                    </div>
                                    <div class="col s1 m1"></div>
                                    <div class="col s4 m3">
                                        <span class="right paddin-2 rounded-4"><i
                                                class="fas fa-eye">&nbsp;&nbsp;&nbsp;<%= formatFigure(story.views) %></i></span><br />
                                        <% let color; let text %>
                                        <% if (story.status === 'public') { %>
                                        <% color = 'green' %>
                                        <% text = 'Published' %>
                                        <% } else { %>
                                        <% color = 'red' %>
                                        <% text = 'Unpublished' %>
                                        <% }%>
                                        <span class="right bold padding-2 rounded-4 <%= color %>"><%= text %></span>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                            <% } else {%>
                            <div class="card-local">
                                <p class="padding-4 black-text white">
                                    You have no unpublished articles
                                </p>
                            </div>
                            <%}%>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<Script>
    'use strict'
    let tabHeaders = document.querySelectorAll('.tab-header'),
        tabContents = document.querySelectorAll('.content-header');

    tabHeaders.forEach(header => header.addEventListener('click', () => {
        let contentId = header.id.replace('tab-header', 'content-header');
        deactivateAll();
        header.classList.add('active');
        document.getElementById(contentId).classList.add('active')
    }))

    function deactivateAll() {
        for (let i = 0; i < tabHeaders.length; i++) {
            tabHeaders[i].className = tabHeaders[i].className.replace('active', '');
            tabContents[i].className = tabContents[i].className.replace('active', '');
        }
    }
</Script>