 <div class="container">
    <h3>Edit Article</h3>
    <div class="row">
        <form action="/stories/<%= story._id %>" method="POST" class="col s12 m8">
            <input type="hidden" name="_method" value="PUT" />
            <div class="row">
                <div class="input-field">
                    <input type="text" id="title" name="title" value="<%= story.title %>">
                    <label for="title">Title</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <select name="status" id="status">
                        <% let statuses = ['private', 'public'] %>
                        <% statuses.forEach(status => { %>
                            <option value="<%= status %>" <%= story.status == status ? 'selected' : '' %>><%= capitalize(status) %></option>
                        <%});%>
                    </select>
                    <label for="status">Status</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <select name="category" id="category">
                        <% let categories = [
                        'politics', 'entertainment', 'sport', 'relationship', 'crime', 'business',
                        'travel', 'education', 'computers', 'fashion', 'health', 'culture', 'religion',
                        'diaries'
                    ] %>
                        <% categories.forEach(category => { %>
                            <option value="<%= category %>" <%= story.category == category ? 'selected' : '' %>><%= capitalize(category) %></option>
                        <%});%>
                    </select>
                    <label for="category">Category</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <h5>Summary</h5>
                    <textarea class="padding-8" name="summary" id="summary" rows="10"><%= story.summary %></textarea>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <h5>Tell Us Your Story</h5>
                    <textarea name="body" id="body" rows="200"><%= story.body %></textarea>
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Update" class="btn" />
                <a href="/dashboard" class="btn orange">Cancel</a>
            </div>
        </form>
    </div>
 </div>

 <script>
     document.title = "Edit Story";
 </script>