<div class="container">
    <h2>Published Blogs</h2>
    <div class="row padding-16">
        <%= #each stories %>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%= {editIcon user ../user _id %>}
                    </div>
                    <div class="card-content center-align">
                        <h5><%= stripTags title %></h5>
                        <p><%= truncateWithLetters (stripTags body) 150 %></p>
                        <br />
                        <%= #if user.image %>
                            <div class="chip">
                                <img src="<%= user.image %>" alt="">
                                <a href="/stories/user/<%= user._id %>"><%= user.displayName %></a>
                            </div>
                        <%= /if %>
                    </div>
                    <div class="card-action center-align">
                        <a href="/stories/<%= _id %>" class="btn grey">Read More</a>
                    </div>
                </div>
            </div>
        <%= else %>
            <div class="container">
                <p>No one has published story for public view.</p>
                <a href="/stories/add" class="btn red">Create One</a>
            </div>
            
        <%= /each %>
    </div>
</div>