
<h3>Hood River Tour</h3>
<a class="requestGroupRate" href="/tours/request-group-rate">Request Group Rate.</a>
<h4>Request Group Rate</h4>
<form method="GET">
    <input type="hidden" name="referrer">
    Name: <input type="text" id="fieldName" name="name"><br>
    Group size: <input type="text" name="groupSize"><br>
    Email: <input type="email" name="email"><br>
    <input type="submit" value="Submit">
</form>

<ul>
    <li><b>{{nameLabel}}: </b>{{name}}</li>
    <li><b>{{emailLabel}}: </b>{{email}}</li>
    <li><b>{{sizeLabel}}: </b>{{groupSize}}</li>
</ul>

<script>
    $(document).ready(function () {
        $('input[name="referrer"]').val(document.referrer);
    });
</script>